<ng-container [ngSwitch]="stepperOrientation | async">
  <!-- <div *ngSwitchCase="'horizontal'">
    Make your screen smaller to see a vertical stepper
  </div>
  <div *ngSwitchCase="'vertical'">
    Make your screen larger to see a horizontal stepper
  </div> -->
</ng-container>

<mat-stepper class="b-container" [orientation]="(stepperOrientation | async)!">
  <mat-step [stepControl]="firstFormGroup" class="b-container__title">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel
        ><span class="b-container__title"
          >Personal information</span
        ></ng-template
      >
      <div>
        <p>
          Please provide us with your personal information to send you the item
        </p>
      </div>

      <mat-form-field appearance="outline">
        <mat-label class="b-container__label">Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="b-container__label">Gender</mat-label>
        <mat-select>
          <mat-option value="female">Female</mat-option>
          <mat-option value="male">Male</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="b-container__label">ID Number</mat-label>
        <input matInput type="number" />
      </mat-form-field>

      <button mat-button matStepperNext class="b-container__btn">Next</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel
        ><span class="b-container__title">Address</span></ng-template
      >
      <input
        type="number"
        class="b-container__label b-container__input"
        placeholder="ID Number"
      />
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel
        ><span class="b-container__title">Payment</span></ng-template
      >
      <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input
          matInput
          formControlName="thirdCtrl"
          placeholder="Ex. 12345678"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
